*{
margin: 0;
padding: 0;

}
body{
    display: flex;
    justify-content: center;
    background: blue;
}

.calculator{
    margin-top: 60px;
    width: 400px;
    background-color: #555;
    padding: 10px;
    font-size: 0;
    box-shadow: 1px 2px 5px black;
    border-radius: 6px;
}

.title{
    border-radius: 10px 10px 0 0s;
    background: #ccc;
    font-size: 50px;
    text-align: center;

}

.screen{
    display: flex;
    width: 400px;
    height: 100px;
    background: #ccc;
    align-items: center;
    justify-content: center;
}

.value{
    width: 380px;
    height: 80px;
    background: #6df5aa;
    font-size: 30px;
}

.btn{
    width: 100px;
    height: 100px;
    background: #555;
    border-radius: 6px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.btn:hover{
    background: #05d1fa;
}

.clear{
    width: 200px;
    background: #f80404;
}